body, input, option {
    font-family: 'Calibri', sans-serif;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.credit-calc, .deposit-calc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

[class$='calc-input'], [class$='calc-output'] {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
}

[class*='-calc-input__'], [class*='-calc-output__'] {
    margin-right: 16px;
    margin-bottom: 16px;
    border-radius: 4px;
    padding: 8px;
    width: 200px;
}

[class*='-calc-input__'] {
    background-color: #f2f2f2;
}

[class*='-calc-output__'] {
    background-color: #ffffe3;
}

.credit-calc-output__schedule, .deposit-calc-output__schedule {
    width: 80vw;
}

[class$='-schedule'] {
    display: inline-table;
}

[class$='-calc'] .label {
    color: grey;
}

th, td {
    padding-right: 16px;
}

th {
    padding-bottom: 8px;
}

td {
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
}

table {
    padding: 8px;
    justify-content: center;
    text-align: center;
    table-layout:fixed;
}

input, select {
    border: 1px solid darkgrey;
    border-radius: 3px;
}

@media only screen and (max-width: 480px) {
    .credit-schedule, .deposit-schedule {
        overflow-x: auto;
        display: block;
    }
}